<h1>Create a Team and Heroes!</h1>
<form method="POST" action="/new">
  <input type="text" name="team[name]" id="team[name]"/>
  <input type="text" name="team[name]" id="team[name]"/>

  <input type="text" name="team[members][][name]" id="member1_name"/>
  <input type="text" name="team[members][][name]" id="member1_power"/>
  <input type="text" name="team[members][][name]" id="member1_bio"/>

</form>
